body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #352d73;
}

header {
    background-color: #6687ff;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: white;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #352d73;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#letter {
    font-size: 18px;
    line-height: 1.5;
}

section#image {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

